body {
    font-family: 'Merriweather', serif;
    background-image: url('https://images.unsplash.com/photo-1575732357845-6124331a5e36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1624&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header-container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;    
    width: 100%;
    height: 25px;
}

#header-background {
    background: rgba(15, 15, 15, 0.2);    
    height: 125px;
    width: 100%;
    display: flex;
    position: relative;
}

/* #header-content {
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    height: 100px;
    width: 100%;
    opacity: 100%;
    position: relative;
    color: white;
} */

#logo {
    display: flex;
    justify-content: flex-start;
    height: 125px;
    width: 125px;
    opacity: 100%;
    position: relative;
    color: white;
}

#header-title {
    display: flex;
    justify-content: center;
    margin-left: 680px;
    align-items: center;
    height: 100px;
    width: 100%;
    opacity: 100%;
    position: relative;
    font-size: x-large;
    color: white;
    text-shadow: 0 -3px black, 0 -5px black;
}


#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    opacity: 100%;
    position: relative;
    color: white;
    font-size: large;
}

.all-trails {
    background-color: white;
    color: black;
    display: flex;
    padding: 10px;
    margin-right: 15px;
    margin-top: 15px;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px -2px 6px black;
}

.all-trails:hover {
    background-color: rgb(237, 174, 59);
    color: black;
}

#forms {
    margin: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);

}

/* #hike-list {
    display: block;
    text-align: center;
    border: 10px solid rgba(15, 15, 15, 0.7);
    padding-top: 100px;
    border-radius: 25px;
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: white; */
/* } */

#hikes {
    display: grid;
    grid-column: 1;
    grid-row: 2 / 5;
    text-align: left;
    padding-left: 32%;
    padding-bottom: 5%;
    border: 10px solid rgba(15, 15, 15, 0.7);
    padding-top: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: -6px -6px 10px black;
}

#hike-location:hover {
    border: 2px solid black;
}

#hike-name:hover {
    border: 2px solid black;
}

#hike-distance:hover {
    border: 2px solid black;
}

#hike-submit {
    box-shadow: 2px 2px 5px black;
}

#hike-search {
    display: grid;
    grid-column: 2;
    grid-row: 2 / 5;
    text-align: center;
    border: 10px solid rgba(15, 15, 15, 0.7);
    padding-top: 12%;
    padding-bottom: 12%;
    padding-right: 30%;
    padding-left: 30%;
    border-radius: 25px;
    background-color: white;
    box-shadow: -6px -6px 10px black;
}


#search-hike-name:hover {
    border: 2px solid black;
}

.search-submit {
    box-shadow: 2px 2px 5px black;
}

#displayContainer {
    background-color: white;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: auto;
    margin-left: 35%;
    margin-right: 35%;
    /* grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    grid-column: 1;
    grid-row: 2; */
    color: black;
}